body {
  background-color: rgb(255, 255, 255);
  font: 100 1em/1.38 Roboto;
  color: rgb(255, 255, 255);
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 200px;
  background-color: rgb(122, 79, 177);
}

.container .text {
  color: rgb(255, 255, 255);
}

.text {
  line-height: 1.38;
}

.text-1 p {
  margin-bottom: 1em;
}

._button {
  display: block;
  float: left;
  clear: both;
  width: 8.2005208333%;
  height: 25px;
  margin: 10px 0 0 22.79948%;
  border-radius: 3px;
  background-color: rgb(222, 222, 222);
  font: 400 1em/1.38 Helvetica;
  text-align: center;
  color: rgb(0, 0, 0);
}

._input {
  display: block;
  float: left;
  width: 20.9010416666%;
  height: 24px;
  margin: 170px 0 0 0.26823%;
  padding: 0 10px;
  background-color: rgb(242, 242, 242);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(143, 143, 143);
}

.text-1 {
  float: left;
  margin: 33px 0 0 9.9974%;
  font-size: 2.125em;
}

.text-2 {
  float: right;
  margin: 156px 10% 0 0;
  font-size: 2em;
  text-align: center;
}

.text-3 {
  float: left;
  margin: 290px 0 0 22.79948%;
  font-family: Helvetica;
  font-size: 1em;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

.text-4 {
  float: left;
  clear: both;
  margin: 10px 0 0 22.79948%;
  font-family: Helvetica;
  font-size: 1em;
  font-weight: 400;
  color: rgb(0, 0, 0);
}