body {
  background-color: rgb(255, 255, 255);
  font: 100 2.125em/1.38 Roboto;
  color: rgb(255, 255, 255);
}

p {
  margin-bottom: 1em;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 98.6666666666%;
  height: 200px;
  background-color: rgb(122, 79, 177);
}

.text {
  float: left;
  margin: 33px 0 0 9.99921%;
  font-size: 1em;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.wrapper {
  visibility: hidden;
  position: relative;
  float: left;
  height: 312px;
  margin-top: 275px;
  background-color: rgb(92, 92, 92);
  overflow: hidden;
}

._button {
  display: block;
  float: left;
  width: 6.8913640202%;
  height: 25px;
  margin-top: 168px;
  border-radius: 3px;
  background-color: rgb(222, 222, 222);
  font: 400 0.471em/1.38 Helvetica;
  text-align: center;
  color: rgb(0, 0, 0);
}

.wrapper-1 {
  z-index: 4;
  width: 34.8%;
  margin-left: 22.7994791666%;
}

.wrapper-2 {
  z-index: 5;
  width: 34.7994791666%;
  margin-left: 0.5013020833%;
}

.container ._button-1 {
  margin-left: 47.83837%;
}

.container ._button-2 {
  margin-left: 1.62057%;
}