body {
  background-color: rgb(255, 255, 255);
  font: 300 1.125em/1.38 Roboto;
  color: rgb(92, 92, 92);
}

.container .wrapper {
  position: absolute;
  top: 0;
  width: 20%;
  height: 516px;
}

.text {
  line-height: 1.38;
}

.text-1 p {
  margin-bottom: 1em;
}

.wrapper {
  overflow: hidden;
}

._button {
  display: block;
  position: relative;
  float: left;
  width: 8.5416666666%;
  height: 23px;
  margin-top: 521px;
  border-radius: 3px;
  background-color: rgb(222, 222, 222);
  font-size: 0.889em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(0, 0, 0);
}

._input {
  display: block;
  position: relative;
  float: left;
  z-index: 6;
  width: 26.4583333333%;
  height: 24px;
  margin-left: 23.39844%;
  padding: 0 10px;
  background-color: rgb(242, 242, 242);
  font-size: 0.889em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(143, 143, 143);
}

.container-1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 18;
  width: 100%;
  height: 200px;
  background-color: rgb(122, 79, 177);
}

.container-2 {
  position: relative;
  float: left;
  z-index: 15;
  width: 80%;
  margin: 268px 0 0 9.86589%;
  overflow: hidden;
}

.container-3 {
  position: relative;
  float: left;
  z-index: 5;
  width: 42.5374348958%;
  height: 24px;
  margin: 3px 0 0 7.59603%;
}

.container-4 {
  position: absolute;
  top: 27px;
  left: 0;
  z-index: 14;
  width: 500%;
  height: 516px;
  overflow: visible;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  -ms-transition: .3s;
  transition: .3s;
}

.text-1 {
  float: left;
  margin: 33px 0 0 9.9987%;
  font-size: 1.889em;
  font-weight: 100;
  color: rgb(255, 255, 255);
}

.text-2 {
  float: right;
  margin: 156px 10.17969% 0 0;
  font-size: 1.778em;
  font-weight: 100;
  text-align: center;
  color: rgb(255, 255, 255);
}

.text-3 {
  float: right;
  width: 19.8617053789%;
  margin-right: 80.3635%;
  font-size: 1em;
  text-align: center;
  color: rgb(92, 92, 92);
}

.text-4 {
  float: right;
  clear: both;
  width: 19.8617053789%;
  margin: -24px 60.49742% 0 0;
  font-size: 1em;
  text-align: center;
  color: rgb(92, 92, 92);
}

.text-5 {
  float: right;
  clear: both;
  width: 19.8617053789%;
  margin: -24px 40.63899% 0 0;
  font-size: 1em;
  text-align: center;
  color: rgb(92, 92, 92);
}

.text-6 {
  float: right;
  clear: both;
  width: 19.8617053789%;
  margin: -24px 20.61221% 0 0;
  font-size: 1em;
  text-align: center;
  color: rgb(92, 92, 92);
}

.text-7 {
  float: right;
  clear: both;
  width: 19.8617053789%;
  margin: -24px 0.37498% 0 0;
  font-size: 1em;
  text-align: center;
  color: rgb(92, 92, 92);
}

.text-3:focus,
.text-4:focus,
.text-5:focus,
.text-6:focus,
.text-7:focus {
  font-weight: 500;
  color: rgb(122, 79, 177);
}

.wrapper-1 {
  left: 80%;
  z-index: 13;
}

.wrapper-2 {
  left: 60%;
  z-index: 12;
}

.wrapper-3 {
  left: 40%;
  z-index: 11;
}

.wrapper-4 {
  left: 20%;
  z-index: 10;
}

.wrapper-5 {
  left: 0;
  z-index: 9;
}

.wrapper-6 {
  visibility: hidden;
  position: relative;
  float: left;
  clear: both;
  z-index: 19;
  width: 39.1666666666%;
  height: 335px;
  margin: -519px 0 0 29.99349%;
  background-color: rgb(92, 92, 92);
}

.container ._button-1 {
  clear: both;
  z-index: 8;
  margin-left: 74.4970699999%;
}

.container ._button-2 {
  z-index: 7;
  margin-left: 0.95215%;
}