body {
  background-color: rgb(255, 255, 255);
  font: 100 2.125em/1.38 Roboto;
  color: rgb(255, 255, 255);
}

p {
  margin-bottom: 1em;
}

.container .container {
  float: left;
  width: 52.3517382413%;
  height: 214px;
  margin: 97px 0 0 26.57209%;
}

.text {
  float: left;
  margin: 33px 0 0 9.9974%;
  font-size: 1em;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

._button {
  display: block;
  float: left;
  border-radius: 3px;
  background-color: rgb(222, 222, 222);
  font: 400 0.471em/1.38 Helvetica;
  text-align: center;
  color: rgb(0, 0, 0);
}

._input {
  display: block;
  float: left;
  width: 95.6237792968%;
  height: 30px;
  padding: 0 10px;
  background-color: rgb(242, 242, 242);
  font: 400 0.382em/1.38 Helvetica;
  color: rgb(0, 0, 0);
}

.container-1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 200px;
  background-color: rgb(122, 79, 177);
}

.container-2 {
  visibility: hidden;
  position: relative;
  float: left;
  z-index: 10;
  width: 40.75%;
  height: 433px;
  margin: 310px 0 0 10.64974%;
  background-color: rgb(143, 143, 143);
}

.container-4 {
  visibility: hidden;
  position: relative;
  float: left;
  z-index: 15;
  width: 40.75%;
  height: 433px;
  margin: 310px 0 0 0.5%;
  background-color: rgb(143, 143, 143);
}

.container ._button-1 {
  width: 6.8913640202%;
  height: 25px;
  margin: 168px 0 0 47.83594%;
}

.container ._button-2 {
  width: 6.8913640202%;
  height: 25px;
  margin: 168px 0 0 1.61849%;
}

.container ._button-3 {
  clear: both;
  width: 39.0625%;
  height: 27px;
  margin: 17px 0 0 60.9314%;
}

.container ._button-4 {
  clear: both;
  width: 39.0625%;
  height: 27px;
  margin: 67px 0 0 60.9314%;
}

.container ._input-2 {
  clear: both;
  margin-top: 16px;
}

.container ._input-4 {
  clear: both;
  margin-top: 20px;
}

.container ._input-5 {
  margin-top: 46px;
}

.container ._input-3,
.container ._input-6 {
  clear: both;
  margin-top: 14px;
}