<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>index</title>
  <link href="http://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/standardize.css">
  <link rel="stylesheet" href="css/index-grid.css">
  <link rel="stylesheet" href="css/index.css">
</head>
<body class="body page-index clearfix">
  <div class="container container-1 clearfix">
    <div class="text">
      <p>We need a cool&nbsp;</p>
      <p>name &amp; logo</p>
</div>
    <button class="_button _button-1 js-signup-button">sign up</button>
    <button class="_button _button-2 js-login-button">log in</button>
  </div>
  <div class="container container-2 clearfix js-signup-container">
    <div class="container clearfix">
      <input class="_input js-signup-company-name" name="signupCompanyName" type="text">
      <input class="_input _input-2 js-signup-username" name="signupUsername" type="text">
      <input class="_input _input-3 js-signup-password" name="signupPassword" type="password">
      <input class="_input _input-4 js-signup-password-confirm" name="signupPasswordConfirm" type="password">
      <button class="_button _button-3 js-signup-submit">get started</button>
    </div>
  </div>
  <div class="container container-4 clearfix js-login-container">
    <div class="container clearfix">
      <input class="_input _input-5 js-login-username" name="loginUsername" type="text">
      <input class="_input _input-6 js-login-password" name="loginPassword" type="password">
      <button class="_button _button-4 js-login-submit">get started</button>
    </div>
  </div>

  <script src="js/jquery-min.js"></script>
  <script src="js/index.js"></script>
</body>
</html>