<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>index</title>
  <link rel="stylesheet" href="css/standardize.css">
  <link rel="stylesheet" href="css/index-grid.css">
  <link rel="stylesheet" href="css/index.css">
</head>
<body class="body page-index clearfix">
  <div class="container _element"></div>
  <div class="container _container clearfix">
    <div class="text text-1">
      <p>We need a cool&nbsp;</p>
      <p>name &amp; logo</p>
</div>
    <p class="text text-2">Retailers</p>
    <p class="text text-3">Suppliers</p>
  </div>
</body>
</html>