doctype html
html(lang='en')
    head
        title = index
        script(src="js/jquery-min.js")
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
        //link(rel='stylesheet', href='/stylesheets/style.css')
        script(src="js/index.js")
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    body
        nav.navbar.navbar-default.navbar-fixed-top
            .container-fluid
                a.navbar-brand(href='/') Cool name & logo
                button.btn.btn-default.navbar-btn sign up
                button.btn.btn-default.navbar-btn log in
        .container
            p this is kinda cool
